---
---

<div class="p-6 h-[150px] flex flex-col gap-4 relative overflow-hidden bg-card border border-card-border rounded-lg animate-pulse">
  <div class="h-6 w-[40%] bg-white/10 rounded"></div>
  <div class="h-4 w-[90%] bg-white/10 rounded"></div>
  <div class="h-4 w-[60%] bg-white/10 rounded"></div>
</div>
